/* home page */
/* SMACSS layout - https://smacss.com/book */
/*******************************************************
Base
*******************************************************/ 
/* remove all margins and paddings */
* {
	margin: 0;
	padding: 0;
}

.banner {
	background-color: #00B5E5;
	width: 100%;
	height: 80px;
	position: fixed;

    z-index: 3;
}

.logo {
	color: #ffffff;
	font-family: Futura, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-shadow: 5px 5px 12px #000000;
	text-align: center;
	padding: 5px;
	position: fixed;
	top: 14px;
	left: 16px;
}

header {
	background-image: url(../images/digital_background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
    text-align: center;
    color: #D9CFC0;

    margin-top: 6%;

    padding-bottom: 20%;
    padding-top: 15%;

    position: fixed;
    width: 100%;

    z-index: 1;
}

a {
	text-decoration: none;
}

section {
	color: #ffffff;
}

article {
	color: #000000;
}

h2 {
	text-shadow: 6px 6px 8px #000000;
	font-family: 'Futura-CondensedExtraBold', Arial, sans-serif;
	font-size: 250%;
}

.h2-large {
	font-size: 300%;
}

h3 {
    font-size: 15px;
}

/*******************************************************
Layout
*******************************************************/ 

form {
	display: flex;
	flex-wrap: wrap;
	position: fixed;
 	top: 8px;
 	right: 16px;
}

input[type=text] {
	border: 1px solid #949494;
	border-radius: 7px;
	padding: 3px;
	margin: 3px;
	font-style: italic;
}

label {
	color: #ffffff;
	text-shadow: 2px 2px 5px #000000;
	font-family: Futura, Arial, sans-serif;
	margin-right: 3px;
}

.background {
    /* grid specifications */
    width: 100%;
    
    margin: auto;
    margin-top: 45%; /* change how much of background image is visible */

    padding-top: 25px;

    position: absolute;
    /* instruction of z-index from 
    freecodecamp.org */
    z-index: 2;
   	background-color: #ffffff;

    color: white;
    font-family: Futura, Arial, sans-serif;

    border-top: 1px solid gray;
    line-height: 1.5;
}
@media (max-width: 600px){
    .background{
        position: initial;
        margin-top: 0;
    }
}

.container article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 7%;

    margin: 0 auto;

    width: 85%;
    max-width: 1000px;
}
@media (max-width: 600px){
    .container{
        display: block; 
    }
}

/* article */
.column_1 {
    grid-column: 1 / 2;

}

.column_2 {
    font-size: 13px;
}

@media (max-width: 600px){
    header {
        position: initial;
        padding-top: 30px;

        padding-bottom : 30px;

    }
    h1{
        margin-top: 0;
    }
}

/*******************************************************
Modules
*******************************************************/ 
.button {
	border: none;
	border-radius: 7px;
	font-family: Futura, Arial, sans-serif;
  	color: white;
  	background-color: #001b3d;
  	padding: 16px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.button:hover {
	background-color: #009eed;
}


.meet {
    text-decoration: none;
    text-align: center;
    padding: 20%;
    border: 2px solid black;
    background-color: #ffff99;
    color: black;
    display: block;
    font-size: 30px;
    border-radius: 15px;
}

.youtube {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 5px;

}
